    @media(max-width:1077px) {
        .slides_container {
            width: 100%;
            overflow-x: hidden;
        }
        .slides img {
            max-width: 740px;
            width: 100%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            z-index: 0;
        }
        #home iframe {
            width: inherit;
        }
        .next {
            right: 9%;
        }
        .previous {
            left: 4%;
        }
    }
    
    @media(max-width:1066px) {
        .slides_container {
            max-width: 1000px;
            width: 100%;
        }
        .slideshow,
        .slide-video {
            max-width: inherit;
            width: 100%;
            margin: 30px 0 150px;
        }
    }
    
    @media(max-width:1040px) {
        .slides_container {
            max-width: 950px;
            width: 100%;
        }
        .slider {
            width: inherit;
        }
        .slider-pagination {
            left: 10%;
            z-index: 100;
        }
        .next {
            right: 9%;
        }
        .previous {
            left: 3%;
        }
        .slider-video {
            left: 45%;
            z-index: 100;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:1000px) {
        .slides_container {
            max-width: 950px;
            width: 100%;
        }
        .slides img {
            max-width: 745px;
            width: 100%;
        }
    }
    
    @media(max-width:987px) {
        .slides_container {
            max-width: 907px;
            width: 100%;
        }
        .slides img {
            max-width: 700px;
            width: 100%;
        }
        .slider-pagination {
            left: 7%;
        }
        .slide-video .slider-video {
            left: 45%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:950px) {
        .slides_container {
            max-width: 855px;
            width: 100%;
        }
        .slides img {
            max-width: 680px;
            width: 100%;
        }
        .slider-pagination {
            left: 6%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:900px) {
        .slides_container {
            max-width: 830px;
            width: 100%;
        }
        .slides img {
            max-width: 670px;
            width: 100%;
        }
        .slider-pagination {
            left: 5%;
        }
        .next {
            right: 9%;
        }
        .previous {
            left: 3%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:875px) {
        .slides_container {
            max-width: 800px;
            width: 100%;
        }
        .slides img {
            max-width: 650px;
            width: 100%;
        }
        .slider-pagination {
            left: 3%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:850px) {
        .slides_container {
            max-width: 780px;
            width: 100%;
        }
        .slider {
            width: inherit;
            height: 550px;
        }
        .slides img {
            max-width: 630px;
            width: 100%;
        }
        .slider-pagination {
            left: 16px;
            width: 780px;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:830px) {
        .slides_container {
            max-width: 750px;
            width: 100%;
        }
        .slider {
            overflow: hidden;
            box-shadow: none;
            border-radius: 0;
            background: none;
        }
        .slides,
        .slides-2 {
            box-shadow: none;
        }
        .slides img {
            max-width: 640px;
            width: 100%;
        }
        .slideshow .slider-pagination {
            display: none;
        }
        .previous {
            left: -1%;
        }
        .next {
            right: 6%;
        }
        .slide-video .slider-video {
            left: 43%;
            top: 95%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
        .slideshow,
        .slide-video {
            margin: 40px 0 90px;
        }
    }
    
    @media(max-width:800px) {
        .slides_container {
            max-width: 740px;
            width: 100%;
        }
        .slides img {
            max-width: 640px;
            width: 100%;
        }
    }
    
    @media(max-width:780px) {
        .slides_container {
            max-width: 700px;
            width: 100%;
        }
        .slides img {
            max-width: 630px;
            width: 100%;
        }
        .next {
            right: 5%;
        }
        .previous {
            left: -3%;
        }
        .controls-video {
            display: none;
        }
        .slideshow,
        .slide-video {
            margin: 40px 0 90px;
        }
    }
    
    @media(max-width:740px) {
        .slides_container {
            max-width: 680px;
            width: 100%;
        }
        .slideshow,
        .slide-video {
            max-width: inherit;
            width: 100%;
            margin: -20px 0 90px;
        }
        .slides {
            height: 485px;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            box-shadow: none;
        }
        .slides img {
            max-width: 650px;
            width: 100%;
        }
        .slideshow .controls {
            position: absolute;
            top: 45%;
        }
        .next {
            right: 12%;
        }
        .previous {
            left: 5%;
        }
    }
    
    @media(max-width:725px) {
        .slides_container {
            max-width: 670px;
            width: 100%;
        }
        .slides img {
            max-width: 640px;
            width: 100%;
        }
        .next {
            right: 13%;
        }
    }
    
    @media(max-width:715px) {
        .slides_container {
            max-width: 660px;
            width: 100%;
        }
        .slides img {
            max-width: 630px;
            width: 100%;
        }
    }
    
    @media(max-width:700px) {
        .slides_container {
            max-width: 650px;
            width: 100%;
        }
        .slides img {
            max-width: 620px;
            width: 100%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:690px) {
        .slides_container {
            max-width: 630px;
            width: 100%;
        }
        .slides img {
            max-width: 600px;
            width: 100%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:675px) {
        .slides_container {
            max-width: 610px;
            width: 100%;
        }
        .slides img {
            max-width: 580px;
            width: 100%;
            height: 600px;
        }
        .next {
            right: 13%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }
    
    @media(max-width:650px) {
        .slides_container {
            max-width: 570px;
            width: 100%;
        }
        .slides img {
            max-width: 550px;
            width: 100%;
            height: 360px;
        }
        .slides {
            height: 400px;
        }
        .slideshow .controls {
            top: 37%;
        }
        .next {
            right: 14%;
        }
        .slide-video .slider-video {
            z-index: 100;
            top: 80%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 375px;
        }
    }
    
    @media(max-width:610px) {
        .slides_container {
            max-width: 540px;
            width: 100%;
        }
        .slides img {
            max-width: 510px;
            width: 100%;
        }
        .slide-video .slider-video {
            left: 42%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 375px;
        }
    }
    
    @media(max-width:590px) {
        .slides_container {
            max-width: 520px;
            width: 100%;
        }
        .slides img {
            max-width: 480px;
            width: 100%;
        }
        .next {
            right: 16%;
        }
        .previous {
            left: 7%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 375px;
        }
    }
    
    @media(max-width:575px) {
        .slides_container {
            max-width: 520px;
            width: 100%;
        }
        .slides img {
            max-width: 490px;
            width: 100%;
        }
        .slideshow .controls {
            top: 37%;
        }
        .next {
            right: 16%;
        }
        .previous {
            left: 7%;
        }
        .slide-video .slider-video {
            top: 80%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 375px;
        }
    }
    
    @media(max-width:566px) {
        .slides_container {
            max-width: 500px;
            width: 100%;
            margin-top: 20px
        }
        .slideshow,
        .slide-video {
            max-width: inherit;
            width: 100%;
        }
        .slides {
            position: absolute;
            top: 75px;
        }
        .slides img {
            max-width: 400px;
            width: 100%;
        }
        .slides-2 img {
            max-width: 340px;
            width: 100%;
            height: 450px;
        }
        .slideshow .controls {
            top: 50%;
        }
        .next {
            right: 9%;
        }
        .previous {
            left: -1%;
        }
        .slide-video .slider-video {
            top: 92%;
        }
    }
    
    @media(max-width:545px) {
        .slides_container {
            max-width: 525px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .slideshow,
        .slide-video {
            max-width: 525px;
            width: 100%;
            margin: 0 auto 60px;
        }
        .slideshow .controls {
            top: 50%;
        }
        .slides img {
            max-width: 360px;
            width: 100%;
            height: 300px;
        }
        .slides-2 img {
            width: 300px;
            height: 400px;
        }
        .next {
            right: 15%;
        }
        .previous {
            left: 5%;
        }
        .next {
            right: 12%;
        }
        .previous {
            left: 2%;
        }
        .slide-video .slider-video {
            top: 85%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 355px;
        }
        .slider-pagination label::after {
            width: 17px;
            height: 17px;
            top: -5px;
            left: -5px;
        }
        .slider-pagination label {
            width: 10px;
            height: 10px;
        }
    }
    
    @media(max-width:480px) {
        .slides_container {
            max-width: 480px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .slideshow,
        .slide-video {
            max-width: 540px;
            width: 100%;
            margin: 0 auto;
        }
        .slider {
            width: inherit;
            height: 460px;
        }
        .slides img {
            max-width: 380px;
            width: 100%;
            height: 230px;
        }
        .slides-2 img {
            max-width: 270px;
            width: 100%;
            height: 341px;
        }
        .slides {
            top: 30px;
        }
        .next {
            right: 18%;
        }
        .previous {
            left: 12%;
        }
        .controls label {
            width: 30px;
            height: 5px;
        }
        .slide-video .slider-video {
            left: 41%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 300px;
        }
    }
    
    @media(max-width:450px) {
        .slides_container {
            max-width: 480px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .slides img {
            max-width: 380px;
            width: 100%;
            height: 230px;
        }
        .slides-2 img {
            max-width: 270px;
            width: 100%;
            height: 341px;
        }
        .slides {
            top: 30px;
        }
        .next {
            right: 17%;
        }
        .previous {
            left: 10%;
        }
        .controls label {
            width: 30px;
            height: 5px;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 300px;
        }
    }
    
    @media(max-width:430px) {
        .slides_container {
            max-width: 480px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .slides img {
            max-width: 335px;
            width: 100%;
            height: 230px;
        }
        .slides-2 img {
            max-width: 270px;
            width: 100%;
            height: 341px;
        }
        .slides {
            top: 30px;
        }
        .next {
            right: 15%;
        }
        .previous {
            left: 8%;
        }
        .controls label {
            width: 30px;
            height: 5px;
        }
        .slide-video .slider-video {
            left: 39%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 460px;
        }
    }
    
    @media(max-width:390px) {
        .slides_container {
            max-width: 480px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .slides img {
            max-width: 335px;
            width: 100%;
            height: 230px;
        }
        .slides-2 img {
            max-width: 270px;
            width: 100%;
            height: 341px;
        }
        .slides {
            top: 30px;
        }
        .next {
            right: 14%;
        }
        .previous {
            left: 6%;
        }
        .controls label {
            width: 30px;
            height: 5px;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 460px;
        }
    }
    
    @media(max-width:360px) {
        .slides_container {
            max-width: 480px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .slides img {
            max-width: 300px;
            width: 100%;
            height: 230px;
        }
        .slides-2 img {
            max-width: 270px;
            width: 100%;
            height: 341px;
        }
        .slides {
            top: 30px;
        }
        .next {
            right: 13%;
        }
        .previous {
            left: 4%;
        }
        .controls label {
            width: 30px;
            height: 5px;
        }
        .slide-video .slider-video {
            left: 38%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
            height: 460px;
        }
    }
    
    @media(max-width:330px) {
        .slides_container {
            max-width: 480px;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .slides img {
            max-width: 270px;
            width: 100%;
            height: 230px;
        }
        .slides-2 img {
            max-width: 270px;
            width: 100%;
            height: 320px;
        }
        .slides {
            top: 30px;
        }
        .next {
            right: 13%;
        }
        .previous {
            left: 4%;
        }
        .controls label {
            width: 30px;
            height: 5px;
        }
        .slide-video .slider-video {
            left: 37%;
        }
        iframe {
            max-width: inherit;
            width: 100%;
        }
    }