* {
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    /* Размер текста */
    background-color: #f5770a;
    overflow-x: hidden;
}

.table {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 50px auto 50px auto;
    background: #fff;
    border-radius: 10px;
}

.table_cotainer {
    max-width: 732px;
    min-height: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    color: black;
    font-size: 18px;
}

.table_body {
    padding: 16px;
}

.title {
    margin: 16px 0 0 0;
    line-height: 130%;
    font-size: 30px;
    text-align: center;
}

.list {
    margin: 30px 0 0 0;
    font-size: 16px;
    line-height: 20px;
}

.strong,
.italics {
    color: rgb(0, 0, 0);
}

.block {
    margin-top: 30px;
    margin-right: 0;
    width: 100%;
    height: 250px;
    max-height: 100%;
}

.block_span {
    display: block;
    margin: 0;
    padding-top: 10px;
}

@media (max-width:700px) {
    html {
        width: 100%;
    }
    .table_body {
        padding: calc(5px + (16 - 5) * ((100vw - 320px) / (800 - 320)));
    }
    .block {
        height: 270px;
    }
    @media (max-width:414px) {
        html {
            overflow-x: hidden;
        }
        .block {
            height: 270px;
        }
        .title {
            font-size: 23px;
        }
        .strong,
        .italics {
            padding: 0;
        }
    }
    @media (max-width:375px) {
        html {
            overflow-x: hidden;
        }
        .title {
            font-size: 20px;
        }
        .strong,
        .italics {
            padding: 0;
        }
        .block_span {
            font-size: 16px;
        }
    }
    /* html {
        width: 360px;
    }
    body {
        width: 360px;
    }
    .navbar {
        min-width: 413px;
    }
    .table {
        min-width: 412px;
        width: 100%;
    }
    .cotainer_table {
        margin: 0 auto;
        padding: 0 16px;
        min-width: 392px;
        text-align: left;
    } */
}